<div class="header-wrap">
    <dt-typeahead
            [name]="typeaheadConfig.name"
            [type]="typeaheadConfig.type"
            [label]="typeaheadConfig.label"
            [target]="typeaheadConfig.target"
            [control]="typeaheadConfig.control"
            [placeholder]="typeaheadConfig.placeholder"
            [template]="searchTemp"
            [searchFunction]="typeaheadConfig.searchFunction"
            [style]="typeaheadConfig.style"
    ></dt-typeahead>
</div>
<dt-table [tableConfig]="tableConfig"></dt-table>
<!--<ng-template let-data="data" let-target="target" let-viewDetails="viewDetails" #searchTemp>-->
    <!--<div class="form-control drop-down" *ngIf="data?.length > 0">-->
        <!--<ng-container *ngFor="let value of data">-->
            <!--<div class="bordered" (click)="viewDetails()">-->
                <!--<p>{{value[target]}}</p>-->
                <!--<p>Also known as {{value.username}}</p>-->
            <!--</div>-->
        <!--</ng-container>-->
    <!--</div>-->
<!--</ng-template>-->