
<ng-container *ngIf="type === 'select'">
    <div class="input-wrap">
        <dt-select
                [control]="control"
                [options]="options"
                [placeholder]="placeholder"
                [label]="label"
                [name]="name"
        ></dt-select>
    </div>
</ng-container>
<ng-container *ngIf="type === 'checkbox'">
    <label class="custom-control custom-checkbox">
        <input [id]="name" [placeholder]="placeholder" [formControl]="control" type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{label}}</span>
    </label>
</ng-container>
<ng-container *ngIf="type !== 'select' && type !== 'checkbox'">
    <div class="input-wrap">
        <label *ngIf="label" [for]="name">{{label}}</label>
        <input  class="form-control"
                [id]="name"
                [type]="type"
                [formControl]="control"
        >
    </div>
</ng-container>
<!--<fa-input-errors [elem]="control" [errors]="control?.errors"></fa-input-errors>-->