<ng-container *ngIf="tableConfig.filters.length > 0">
    <div class="filters-wrap">
        <ng-container *ngFor="let filter of tableConfig?.filters">
            <dt-input [name]="filter.name" [control]="filtersGroup.get(filter.sortableKey)" [label]="filter.label" [type]="filter.type" [options]="filter.options"></dt-input>
        </ng-container>
        <button class="clear-filters btn btn-danger" (click)="clearFilters()" *ngIf="tableConfig.filters.length > 0">Clear Filters</button>
    </div>
</ng-container>

