<div [ngStyle]="style" class="typeahead-wrap">
    <label *ngIf="label" [for]="name">{{label}}</label>
    <input  class="form-control"
            [id]="name"
            [type]="type"
            [formControl]="control"
    >
    <ng-container *ngTemplateOutlet="template || default; context: ctx"></ng-container>
    <ng-template #default>
        <div class="form-control drop-down" *ngIf="data?.length > 0">
            <p *ngFor="let value of data">{{value[target]}}</p>
        </div>
    </ng-template>
</div>