<div>
    <label *ngIf="label && !placeholder" [for]="name">{{label}}</label>
    <ng-select class="input-select" [id]="name" [options]="options" [placeholder]="placeholder ? label : null" [formControl]="control"></ng-select>
</div>