<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <dt-filter *ngIf="tableConfig.filters?.length > 0" [tableConfig]="tableConfig" (resetSort)="filtersClearSort()" (filtersChange)="filterChanged($event)"></dt-filter>
            <table class="table" [ngBusy]="busy">
                <thead class="thead-inverse">
                <tr>
                    <th *ngFor="let head of tableConfig.headers" (click)="sort(head)" >
                        <i *ngIf="lastSorted === head && sortDirection === false" class="fa fa-caret-up" aria-hidden="true"></i>
                        <i *ngIf="lastSorted === head && sortDirection === true" class="fa fa-caret-down" aria-hidden="true"></i>
                        {{head}}
                    </th>
                    <th *ngIf="tableConfig.datasource.sortStatus && lastSorted">
                        <i class="fa fa-ban" aria-hidden="true" (click)="clearSort()"></i>
                    </th>
                </tr>
                </thead>
                <tbody my-row [data]="data" [headers]="tableConfig.headers"></tbody>
            </table>
            <div *ngIf="data?.length === 0">
                <p>There is no searchable data</p>
            </div>
            <dt-pagination *ngIf="tableConfig.datasource.paginationStatus" [page]="page" (pageChange)="pageChanged($event)"></dt-pagination>
        </div>
    </div>
</div>
